@font-face {
	font-family: 'MafontReg';
	src: url(Montserrat/Montserrat-Regular.ttf);
}
@font-face {
	font-family: 'MafontBol';
	src: url(Montserrat/Montserrat-Bold.ttf);
}
@font-face {
	font-family: 'MafontLeg';
	src: url(Montserrat/Montserrat-Light.ttf);
}
@font-face {
	font-family: 'Mafont2'
	src: url(Roboto/Roboto-Regular.ttf);
}
@font-face {
	font-family: 'MafontR';
	src: url(Montserrat/Montserrat-Black.ttf);
	}

body {
	margin:0px;
	padding:0px;
	display: flex;
	flex-direction: column;
}
header {
	position: fixed;
	z-index:500000;
}
.eye {
	background-color: rgb(217, 41, 80);
	width: 100%;
	height: 65px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	left: 0;
	right: 0;
	font-family: 'Mafont2', sans-serif;
}
	.eyel {
	background-image: url('images/logo_kinshasa_digital-white.ico');
	background-repeat: no-repeat;
	background-size: 80px 60px;
	width: 25%;
	height: 100%;
	padding: 1px;
	margin-top: 7px;
	margin-left: 20px;
	}
	.eyer {
	width: 30%;
	height: 100%;
	margin-right: 45px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	}
		.accueil {
		width: 10%;
		height: 40%;
		padding-top: 8px;
		padding-left: 0px;
		padding-right: 18px;
		margin-bottom: 10px;
		font-size: 10px;
		}

			.accueil p a, .academy p a, .emploi p a, .contact p a {
			text-decoration: none;
			color:white;
			font-family: 'Mafont2',sans-serif;
	    	font-weight: bold;
	    	font-size: 0.9rem;
			}

			.accueil p a:link, .academy p a:link, .emploi p a:link, .contact p a:link {
			text-decoration: none;
			
			}
			.accueil p a:active, .academy p a:active, .emploi p a:active, .contact p a:active {
			text-decoration: none;
			border-bottom: 2.5px solid #ff046b;
			
			}
			.accueil p a:visited, .academy p a:visited, .emploi p a:visited, .contact p a:visited {
				border: 2.5px solid #ff046b;

			}
			.accueil p a:hover, .academy p a:hover, .emploi p a:hover, .contact p a:hover {
				border-bottom: 3px solid #ff046b;

			}
			/*.accueil p a:link /*.accueil p a:active*/ /*{

				text-decoration: underline;
				color: yellow;
				/*border-style: none;
				border-bottom: 5px dashed yellow !important;*//*
				
			
			}
			.accueil p a:active {
				text-decoration: none;
				border-style: none;
			border-bottom: 2.5px solid yellow !important;

			}
			
			.accueil p a:active {
				border-style: none;
			border-bottom: 2.5px solid yellow;

			}*/
		.academy {
		width: 10%;
		height: 40%;
		padding-top: 8px;
		padding-left: 0px;
		padding-right: 27px;
		margin-bottom: 10px;
		font-size: 10px;
		border-bottom: 2.5px solid rgb(217, 41, 80);
		color: white;
		}
		.emploi {
		width: 10%;
		height: 40%;
		padding-top: 8px;
		padding-left: 0px;
		padding-right: 10px;
		margin-bottom: 10px;
		font-size: 10px;
		border-bottom: 2.5px solid rgb(217, 41, 80);
		}
		/*.emploi p>a, .contact p>a, .accueil p>a, .academy p>a {
			text-decoration: none;
			color: white;
			font-size: 15px;
			font-weight: bold;
		}*/
		.contact {
		width: 10%;
		height: 40%;
		padding-top: 8px;
		padding-left: 0px;
		padding-right: 18px;
		margin-bottom: 10px;
		font-size: 10px;
		border-bottom: 2.5px solid rgb(217, 41, 80);
		}
		
		/*.contact:hover, .emploi:hover, .academy:hover, .accueil:hover {
			border-bottom: 2.5px solid #FF0062;
		}*/
		
.nose {
	background-image: url('images/hero-background.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 830px;
	width: 100%;
	height: 830px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
	.nose1 {
	margin-top: 140px;
	font-size: 40px;
	line-height: 90px;
	font-weight: 100;
	color: white;
	text-transform: uppercase;
	text-align: center;
	width: 54%;
	height: 30%;
	}
		.nose1 h1, .nose1 span  {
			font-family: 'MafontR', sans-serif;
			font-size: 5.5vw;
		}
		.nose1 span {
			color: #ffe64d;;
		}
	.nose2 {
	width: 60%;
	height: 10%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 130px;
	}
		.nose2a, .nose2b {
		width: 39%;
		height: 50%;/
		}
		
			.nose2a a, .nose2b a {
				font-family: 'Mafont2',sans-serif;
				font-size: 1.25rem;
				color: rgb(217, 41, 80);
				font-size: 20px;
				font-weight: bold;
				text-decoration: none;
				border-radius: 15px;
				border:1px solid ;
				padding: 20px;
				background-color: white;
			}	
			.nose2a a:hover, .nose2b a:hover {
				color: white;
				background-color: initial;
				font-size: 20px;
				text-decoration: none;
				border:2px solid;
				border-color: white;
				padding: 20px;
			}
	.nose3 {
	margin-top: 30px;
	color: white;
	font-family: 'MafontLeg', sans-serif;
	font-size: 17px;
	text-align: center;
	width: 55%;
	height: 5%;
	padding-bottom: 5px;
	}
	.nose4 {
	margin-top: 25px;
	margin-bottom: 70px;
	width: 95%;
	height: 20%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	white-space: 30px;
	margin-left: 50px;
	text-align: center;
	margin-bottom: 80px;
	}
		.nose4a, .nose4b, .nose4c, .nose4d, .nose4e, .nose4f, .nose4g, .nose4h {
		opacity: 0.5;
		background-repeat: no-repeat;
		background-repeat: no-repeat;
		background-size: 55px 45px;
		width: 15%;
		height: 50%;*/
		}
		.nose4a {
		background-image: url('logo/nodejs.png');
		}
		.nose4b {
		background-image: url('images/react.png');
		}
		.nose4c {
		background-image: url('images/vuejs.png');
		}
		.nose4d {
		background-image: url('images/laravel.png');
		}
		.nose4e {
		background-image: url('images/mysql.png');
		}
		.nose4f {
		background-image: url('images/mongodb.png');
		}
		.nose4g {
		background-image: url('images/neo4j.png');
		}
		.nose4h {
		background-image: url('images/graphql.png');
		}

.mouth {
	background-color: #F1EFF3;
	width: 100%;
	height: 730px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
	.mouth1 {
	width: 70%;
	height: 87.7%;
	position: relative;
	top:0;
	left: 0;
	margin-top: 120px;
	}
		.image1 {
		border-bottom-right-radius: 25px;
		border-top-right-radius: 25px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		position: relative;
		top: 0px;
		left: 0;
		width: 80%;
		height: 55%;
		
		}
		.image2 {
		border-radius: 25px;
		background-attachment: fixed;
		position: absolute;
		top: 180px;
		left: 220px;
		width: 60%;
		height: 40%;
		}
	.mouth2 {
	margin-top: 280px;
	margin-bottom: 100px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	}
		.mouth2a {
		font-family: 'MafontBol', sans-serif;
		font-weight: lighter;
		word-spacing: 10px;
		color: #424345;
		font-size: 26px;
		width: 90%;
		text-align: left;
		height: 5%;
		padding-bottom: 100px;
		margin-bottom: 50px;
		}

		.mouth2b {
		width: 94%;
		height: 40%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		}
			.mouth2b1 {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 45%;
			height: 98%;
			}
				.mouth2b1a {
				background-image: url(images/paper.svg);
				background-repeat: no-repeat;
				background-size: 65px 65px;
				padding-right: 12px;
				padding-left: 4px;
				margin-right: 3px;
				border-bottom: 2px solid rgb(217, 41, 80);
				width: 14%;
				height: 55%;
				}
				.mouth2b1b, .mouth2b2b, .mouth2c1b, .mouth2c2b {
				font-family: 'MafontBol', sans-serif;
				font-size: 1.25rem;;
				color: #424345;
				text-align: center;
				width: 90%;
				height: 50%;
				}
			.mouth2b2 {
			width: 45%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			}
				.mouth2b2a{
				background-image: url(images/cup.svg);
				background-repeat: no-repeat;
				background-size: 65px 65px;
				border-bottom: 2px solid rgb(217, 41, 80);
				padding-left: 0px;
				width: 18%;
				height: 50%;
				}
				

		.mouth2c {
		width: 94%;
		height: 80%;
		display: flex;
		flex-direction: row;
		align-content: center;
		justify-content: space-between;
		}
			.mouth2c1 {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 45%;
			height: 45%;
			}
				.mouth2c1a{
				background-image: url(images/chat.svg);
				background-repeat: no-repeat;
				background-size: 65px 65px;
				border-bottom: 2px solid rgb(217, 41, 80);
				width: 21%;
				height: 50%;
				}
				
			.mouth2c2 {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			width: 46%;
			height: 45%;/
			}
				.mouth2c2a{
				background-image: url(images/earth.svg);
				background-repeat: no-repeat;
				background-size: 65px 65px;
				width: 21%;
				height: 50%;
				border-bottom: 2px solid rgb(217, 41, 80);
				text-align: center;
				}

.beard {
	background-color: rgb(217, 41, 80);
	width: 100%;
	height: 550px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
	.beard1 {
	color: white;
	font-size: 30px;
	text-align: center;
	font-weight: bolder;
	width: 65%;
	height: 30%;
	font-size: 1.7rem;
	font-family: 'MafontBol', sans-serif;
	}
	.beard2 {
	width: 85%;
	height: 30%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-left: 100px;
	}
		.beard2a {
		background-image: url('images/embassade-france-grey.png');
		text-align: center;
		background-repeat: no-repeat;
		background-size: 150px 80px;
		width: 38%;
		height: 60%;
		margin-left: 10px;
		/**/
		}
		.beard2b {
		background-image: url('images/ey-white-2.png');
		background-repeat: no-repeat;
		background-size: 150px 80px;
		width: 38%;
		height: 60%;
		/**/
		}
		.beard2c {
		background-image: url('images/facebook-white.png');
		background-repeat: no-repeat;
		background-size: 150px 32px;
		width: 38%;
		height: 30%;
		/**/
		}
		.beard2d {
		background-image: url('images/orange-white.png');
		background-repeat: no-repeat;
		background-size: 80px 80px;
		width: 38%;
		height: 50%;
		/**/
		}
		.beard2e {
		background-image: url('images/gsma-white.png');
		background-repeat: no-repeat;
		background-size: 90px 50px;
		width: 38%;
		height: 50%;
		}

.neck {
	background-color: #F1EFF3;
	width: 100%;
	height: 640px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'MafontBol', sans-serif;
	font-weight: bold;
}
	.neck1 {
	font-size: 25px;
	color: rgba(24, 0, 39, 0, 0.87);
	width: 75%;
	height: 100px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;/
	}
	.neck1 h1 {
		font-size: 2.5rem;
		color: rgba(24,0,39,.87);
	}

	.neck2 {
	width: 100%;
	height: 320px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	}

		.neck2a, .neck2b {
		background-color: white;
		width: 45%;
		height: 300px;
		margin-left: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		border-top: 10px solid #ffe64d;
		border-bottom-right-radius:15px; 
		border-bottom-left-radius:15px;/
		}
		.neck2b {
		background-color: white;
		margin-right: 40px;
		border-top: 10px solid rgb(217, 41, 80);
		}
			
			.neck2a1, .neck2b1 {
			width: 100%;
			height: 100px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			}
				.neck2a1a, .neck2b1a {
				width: 90%;
				height: 80px;
				vertical-align: middle;
				text-align: center;
				color: rgb(217, 41, 80);
				font-size: 20px;
				}
				.neck2b1a {
				margin-top: 40px;
				}
					.neck2a1a h2, .neck2b1b h2 {
					font-size: 1.75rem;
					color: #d92950;
					}
				.neck2a1b, .neck2b1b  {
				width: 90%;
				height: 80px;
				text-align: center;
				color: rgba(24, 0, 39, 0, 0.87);
				font-size: 19px;
				}
				.neck2b1b {
				margin-bottom: 45px;*/
				}
					.neck2a1b p, .neck2b1b p {
					font-family: 'MafontLeg', sans-serif;
					font-weight: lighter;
					color: rgba(24,0,39,.87);
					font-size: 1rem;
					line-height: 1.5;
					}

			.neck2a2, .neck2b2  {
			width: 70%;
			height: 65px;
			text-align: center;
			}
				.neck2a2 p a, .neck2b2 p a {
					border: none;
					border-radius: 15px;
					padding: 20px;
					font-weight: bold;
					font-size: 20px;
					text-decoration: none;
					color: white;
					background-color: rgb(217, 41, 80);
				}
				.neck2b2 p a:hover, .neck2a2 p a:hover {
					border: 2px solid rgb(217, 41, 80);
					border-radius: 15px;
					padding: 20px;
					font-weight: bold;
					font-size: 20px;
					text-decoration: none;
					color: rgb(217, 41, 80);
					background-color: white;
				}

.chest {
	background-color: rgb(217, 41, 80);
	width: 100%;
	height: 850px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;/**/
}
	.chest1 {
	width: 70%;
	height: 75px;
	font-size: 23px;
	text-align: center;
	color: white;
	padding-top: 20px;
	}
	 .chest1 h1 {
		font-family: 'MafontBol',sans-serif;
		font-weight: 700;
		font-size: 2.5rem;
		line-height: 1.2;
		}
	.chest2 {
	width: 95%;
	height: 400px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;	
	margin-bottom: 80px;
	}
		.chest2a, .chest2b, .chest2c {
		width: 30%;
		height: 550px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		}
			.chest2a1, .chest2b1, .chest2c1 {
			width: 98%;
			height: 415px;
			background-size: 200px 400px;
			}
				img {
					text-align: center;
					border-radius: 15px;
					width: 95%;
					height: 412.5px;
				}
				span {
					font-size: 7rem;
					font-weight: 650;
					text-align: center;
					vertical-align: middle;
					color:rgb(217, 41, 80);
				}
			.chest2a2, .chest2b2, .chest2c2 {
			
			width: 89%;
			height: 65px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			font-family: 'MafontLeg', sans-serif;
			}
				.chest2a2a, .chest2b2a, .chest2c2a {
					width: 70%;
					height: 60px; 
					color: white;
					font-size: .7rem;
					line-height: 17px;}

				  .chest2a2a p a, .chest2c2a p a{
				  	color: white;
				  	text-decoration: none;
				  }
				.chest2a2b, .chest2b2b, .chest2c2b {
					background-color: white;
					background-image: url(images/congo.png);
					background-size: 18.5px 18.5px;
					background-repeat: no-repeat;
					width: 20%;
					height: 20px; 
					margin-bottom: 25px;
					border-bottom-left-radius: 20px; 
					border-top-left-radius: 20px;
					border-bottom-right-radius: 5px; 
					border-top-right-radius: 5px;
					text-align: right;
					vertical-align: middle;
					padding-right: 6px;
					}
						.chest2c2b {
					background-image: url(images/flag-round-250.png);
					} 

					.chest2a2b span, .chest2b2b span, .chest2c2b span {
						vertical-align: middle;
						font-size: .7rem;
						font-family: 'Mafont', sans-serif;
					}
			.chest2a3, .chest2b3, .chest2c3 {
			background-color: #ed0058;
			
			width: 89%;
			height: 20px;
			color: white;
			vertical-align: middle;
			font-size: .6rem;
			font-family: 'Mafont', sans-serif;
			padding-top: 5px;
			} 
			.chest2a3 svg, .chest2b3 svg, .chest2c3 svg {
				font-size: 15px;
				overflow: hidden;
				vertical-align: middle;
			}
				.onea, .oneb, .onec, .twoa, .twob, .threea, .threeb, .foura, .fourb, 
				.fourc, .fivea, .fiveb, .fivec, .sixa, .sixb, .sixc {
					width: 15%;
					height: 25px;
				}
					.onea, .onec {
					padding-top: 10px;
					background-size: 100% 25px;
					background-position: center;
					text-align: left;
					vertical-align: middle;
					color: white;
					width: 30%;
					}
				 .onea span, .onea svg, .onec svg, .onec span {
				 	font-size: 10px;
				 	color: white;
				 	overflow-y: hidden;
				 	overflow-x: hidden;
				  }
				 .onea svg, .onec svg {
				 	font-size: 15px;
				 	color: white;
				 }
				.oneb, .twob, .threeb, .fourb, .fiveb, .sixb {
					background-repeat: no-repeat;
					background-size: 100% 25px;
					background-position: center;
				}
				.oneb {
					background-image:url('vuejs-ar21.svg');
				}
				.twob {
					background-image:url('laravel-ar21.svg');
					}
				.threeb {
					background-image:url('apache-official.svg');
					vertical-align: middle;
				}
				.fourb {
					background-image:url('php-brands(1).svg');
					}
				.fiveb {
					background-image:url('mapbox-ar21.svg');
					}
				.sixb {
					background-image:url('wordpress-simple-brands.svg');
					}

.belly {
	background-color: #fff;
	width: 100%;
	height: 880px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: top;
	margin-bottom: 50px;
}
	.belly1 {
	font-family: 'MafontBol',sans-serif;
	font-weight: lighter;
	font-size: 1.1rem;
	color: #424345;
	width: 70%;
	height: 150px;
	margin-top: 80px;
	text-align: center;
	}
		.belly1 h1 {
			font-size: 2.5rem;
			vertical-align: middle;
		}
	.belly2 {
	width: 90%;
	height: 550px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px;
	}
		.belly2a {
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
		width: 55%;
		height: 550px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: #f1f0f3;
		margin-left: 5px;
		}
			.belly2a1 {
			
			width: 100%;
			height: 65px;
			font-family: 'MafontBol',sans-serif;
			font-weight: 700;
		    font-size: 1.75rem;
		    background-color: #d92950;
		    color: white;
		    padding-top: 20px;
		    white-space: 10px;
		    text-align: left;
			}
			.belly2a2 {
			width: 95%;
			height: 350px;
			margin-bottom: 100px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			}
				.first, .third, .fifth {
				width: 95%;
				height: 75px;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-around;
				}
					.first1, .first2, .first3, .first4 {
					background-repeat: no-repeat;
					background-size: 100% 50px;
					width: 8%;
					height: 50px;
					}
					.first1 {
						background-image: url(images/html5-brands.svg);
						opacity: 0.5;
					}
					.first2 {
						background-image: url(images/css3-alt-brands.svg);
						opacity: 0.5;
					}
					.first3 {
						background-image: url(images/php-brands.svg);
					}
					.first4 {
						background-image: url(laravel-iconsvg.svg);
					}
				.second, .fourth, .sixth {
				width: 95%;
				height: 30px;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-around;
				}
					.second1, .second2, .second3, .second4, .fourth1, .fourth2, .fourth3, 
					.fourth4, .sixth1, .sixth2, .sixth3, .sixth4 {
					width: 12%;
					height: 20px;
					text-align: center;
					font-size: 1.3rem;
    				font-family: Ubuntu Mono,monospace;
    				color: #424345;
					}
					.fourth2 {
						padding-right: 40px;
					}
					.third1, .third2, .third3, .third4, .fifth1, .fifth2, .fifth3, .fifth4 {
					text-align: center;
					background-repeat: no-repeat;
					background-size: 100% 50px;
					width: 8%;
					height: 50px;
					}
					.third1 {
						background-image: url(node-brands.svg);
					}
					.third2 {
						background-image: url(js.png);
						width: 9%;
					}
					.third3 {
						background-image: url(vuejs-brands.svg);
					}
					.third4 {
						background-image: url(react-brands.svg);
					}
					.fifth1 {
						background-image: url(mysql-iconsvg.svg);
					}
					.fifth2 {
						background-image: url(mongodb-iconsvg.svg);
						width: 5%;
						opacity: 0.5;
					}
					.fifth3 {
						background-image: url(neo4j-icon.svg);
						opacity: 0.5;
					}
					.fifth4 {
						background-image: url(graphql-iconsvg.svg);
						opacity: 0.5;
						background-size: 100% 50px;
					}

		.belly2b {
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
		width: 40%;
		height: 550px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: #f1f0f3;
		margin-right: 15px;
		/**/
		}
			.belly2b1 {
			width: 100%;
			height: 65px;
			font-family: Calibri,sans-serif;
		    background: rgba(24,0,39,.87);
		    font-family: 'MafontBol',sans-serif;
			font-weight: 700;
		    font-size: 1.75rem;
		    color: white;
		    padding-top: 20px;
		    text-align: left;/
			}
			.belly2b2 {
			border-radius: 10px;
			width: 70%;
			line-height: 30px;
			height: 280px;
			background-color: #dfdee1;
			margin-bottom: 100px;
			font-size: 1.3rem;
    		font-family: Ubuntu Mono,monospace;
    		color: #424345;
			}
				.belly2b1 ol {
					margin-left: 300px;
				}

.party {
	background-color: #ae3753;
	width: 100%;
	height: 650px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
	.party1 {
	width: 95%;
	height: 150px;
	text-align: center;
	font-family: 'MafontBol', sans-serif;
	font-weight: 700;
	font-size: 2.5rem;
	color: #fff;
	margin-top: 50px;
	}
	 .party1 h1 {
		font-weight: 700;
		font-size: 2.5rem;
		color: #fff;color: #fff;
	 }
	.party2 {
	width: 90%;
	height: 115px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-left: 80px;
	}
		.party2a, .party2b, .party2c, .party2d {
		width: 20%;
		height: 100px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		}
			.party2a1 {
			background-image: url(images/call.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 45% 40px;
			border:1px solid white;
			border-radius:10px;
			width: 30%;
			height: 65px;
			}
			.party2a2 {
			background-image: url(images/arrow.png);
			background-repeat: no-repeat;
			background-size: 40% 20px;
			width: 30%;
			height: 20px;
			}
			.party2b1 {
			background-image: url(images/users.png);
			background-repeat: no-repeat;
			background-position: center;
			border-radius:10px;
			background-size: 50% 20px;
			border:1px solid white;
			width: 30%;
			height: 65px;
			}
			.party2b2 {
			background-image: url(images/arrow.png);
			background-repeat: no-repeat;
			background-size: 30% 20px;
			width: 40%;
			height: 20px;
			}
			.party2c1 {
			background-image: url(images/call.png);
			background-repeat: no-repeat;
			background-position: center;
			border-radius:10px;
			background-size: 45% 40px;
			border:1px solid white;
			width: 30%;
			height: 65px;
			/**/
			}
			.party2c2 {
			background-image: url(images/arrow.png);
			background-repeat: no-repeat;
			background-size: 30% 20px;
			width: 40%;
			height: 20px;
			}
			.party2d1 {
			background-image: url(images/user_group.png);
			background-repeat: no-repeat;
			background-position: center;
			border-radius:10px;/
			background-size: 55% 30px;
			border:1px solid white;
			width: 30%;
			height: 65px;
			}
			.party2d2 {
			width: 40%;
			height: 20px;
			}
	.party3 {
	width: 100%;
	height: 40px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
	}
		.party3a, .party3b, .party3c {
		width: 25%;
		height: 40px;
		font-family: Ubuntu Mono,monospace;
		font-size: 1.3rem;
		font-weight: 700;
		color: white;
		text-align: right;
		}
		.party3c {
		text-align: center;
		padding-left: 3%;
		}
		.party3d {
		width: 25%;
		height: 40px;
		font-family: Ubuntu Mono,monospace;
		font-size: 1.3rem;
		font-weight: 700;
		color: white;
		padding-left: 7%;
		}
		
	.party4 {
	width: 95%;
	height: 150px;
	text-align: center;
	padding-top: 100px;
	}
	 .party4 p a {
	 	padding: 20px;
	 	border-radius: 15px;
	 	vertical-align: middle;
	 	background-color: #d92950;
	 	color:white;
	 	text-decoration: none;
	 	font-size: 1.25rem;
	 	font-family: Roboto,sans-serif;
	 	font-weight: 700;
	 	margin-top: 70px;
	 }
	 .party4 p a:hover {
	 	border:2px solid white;
	 	background-color: inherit;
	 	padding: 20px;
	 	border-radius: 15px;
	 	vertical-align: middle;
	 	color:white;
	 	text-decoration: none;
	 	font-size: 1.25rem;
	 	font-family: Roboto,sans-serif;
	 	font-weight: 700;
	 }
.thigh {
	background-color: rgb(241, 240, 243);
	width: 100%;
	height: 800px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	font-family: 'MafontBol', sans-serif;
	color: #424345;
	line-height: 1.2;
	padding-bottom: 100px;
	}
	.thigh1 {
	width: 48%;
	height: 550px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	}
		.thigh1a {
		
		width: 95%;
		height: 300px;
		}
			.thigh1a h1 {
				font-size: 2.5rem;
			}
			.thigh1a em {
				font-style: normal;
				color: #d92950;
			}

			.thigh1a p, .part1b p,.part2b p, .part3b p, .part4b p {
		font-family: 'MafontLeg', sans-serif;
		font-weight: lighter;
		font-size: 1rem;
		line-height: 1.5;
		}
		.thigh1b {
		
		width: 95%;
		height: 220px;
		}
			.thigh1b img {
				width: 100%;
				height: 220px;
				border-radius: 0px;
			}

	.thigh2 {
	width: 48%;
	height: 650px;
	margin-top: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	}
		.thigh2a, .thigh2b {	
		width: 90%;
		height: 300px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		}
			.thigh2a1 {	
			border-radius: 20px;
			padding: 15px;
			width: 40%;
			height: 265px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			background-color: white;
			}
				.part1a {
					background-image: url('images/salary.png');
					background-repeat: no-repeat;
					background-size: 100% 50px;
					width: 22%;
					height: 60px;
				}
				.part1b, .part2b, .part3b, .part4b  {
					width: 100%;
					height: 250px;
				}
			.thigh2a2, .thigh2b1, .thigh2b2 {
			border-radius: 20px;
			padding: 15px;
			width: 40%;
			height: 265px;
			background-color: white;
			}
				.part2a, .part3a, .part4a {
					background-repeat: no-repeat;
					background-size: 100% 50px;
					width: 22%;
					height: 50px;
				}
				.part2a {
					background-image: url('images/working.png');
				}
				.part3a {
					background-image: url('images/health.png');
				}
				.part4a {
					background-image: url('images/training.png');
				}

.knee {
	background-color: #111;
	width: 100%;
	height: 355px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
	.knee1 {
	width: 60%;
	height: 190px;
	font-family: 'MafontBol',sans-serif;
	margin-top: 80px;
	vertical-align: bottom;
	}
		.knee1 h1 {
		font-size: 2.5rem;
		color: white;
		text-align: center;
		}
	.knee2 {
	width: 73%;
	height: 150px;
	display: flex;
	flex-direction: row;
	align-items: top;
	justify-content: center;
	margin-bottom: 50px;
	/**/
	}

		.knee2a, .knee2b, .knee2c, .knee2d, .knee2e {
		width: 15%;
		height: 70px;
		border-style: none;
		/**/
		}
			.knee2a a img {
			text-align: center;
			width: 75%;
			height: 20px;
			padding-top: 25px;
			padding-left: 15px;

			}
			.knee2b a img {
			text-align: center;
			width: 30%;
			height: 35px;
			padding-top: 20px;
			padding-left: 45px;
			}
			.knee2c a img {
			text-align: center;
			width: 90%;
			height: 50px;
			padding-top: 10px;
			padding-left: 10px;
			}
			.knee2d a img {
			text-align: center;
			width: 45%;
			height: 30px;
			padding-top: 20px;
			padding-left: 30px;
			}
			.knee2e a img {
			text-align: center;
			width: 60%;
			height: 40px;
			padding-top: 15px;
			padding-left: 30px;
			}
		
.calf {
	background-color: #fff;
	width: 100%;
	height: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 100px;

	/**/
}
	.calf1 {
	
	width: 100%;
	height: 160px;
	margin-top: 130px;
	/**/
	}
		.calf1 h1 {
			text-align: center;
			vertical-align: bottom;
			font-family: 'MafontBol', sans-serif;
			font-weight: 700;
			font-size: 2.5rem;
			color: #424345;
			margin-top: 40px;
		}
	.calf2 {
	
	width: 95%;
	height: 180px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-top: 20px;
	
	/**/
	}
		.calf2a, .calf2b, .calf2c, .calf2d {
		background-repeat: no-repeat;
		background-size: 100% 170px;
		border-radius: 10px; 
		width: 22%;
		height: 170px;
		/**/
		}
		.calf2a {
		background-image: url('images/kda-avec-le-president-felix-antoine-tshisekedi.jpg');
		/**/
		}
		.calf2b {
		background-image: url('images/kda-avec-le-premier-ministre-belge.jpg');
		}
		.calf2c {
		background-image: url('images/kda-avec-l-ambassadeur-de-france.jpg');
		/**/
		}
		.calf2d {
		background-image: url('images/kda-avec-facebook.jpg');
		/**/
		}
	.calf3 {
	
	width: 95%;
	height: 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	color: #424345;
	font-size: 1rem;
	font-family: 'MafontLeg', sans-serif;
	
	/**/
	}

		.calf3a, .calf3b, .calf3c, .calf3d {
		
		width: 22%;
		height: 80px;
		/**/
		}
		 .calf3 p em {
		 	font-style: normal;
		 	font-weight: bold;
		 }

	.calf4 {
	
	width: 95%;
	height: 450px;
	padding-top: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 160px;
	/**/
	}
		.calf4a, .calf4b, .calf4c, .calf4d {
		
		width: 22%;
		height: 450px;
		/**/
		}

.feet {
	background-color: #23202B;
	width: 100%;
	height: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/**/
}
	.feet1 {
	width: 75%;
	height: 200px;
	color: white;
	text-align: center;
	justify-content: center;
	font-weight: bold;
	font-family: 'MafontBol', sans-serif;
	/**/
	}
		.feet1 h1 {
			color: #E1E0E2;
			font-size: 3rem;

		}
		.feet1 p{
			font-size: 1rem;

		}
		.feet1 p a {
			text-decoration: none;
			color:#d92950;
		}
		.feet1 p a:hover {
			border-bottom: 2px solid #d92950;
		}
	.feet2 {
	width: 95%;
	height: 350px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	/**/
	}
		.feet2a, .feet2b {
		width: 48%;
		height: 350px;	
	}
	.feet2a p label, .feet2b p label {
		padding-bottom: 15px;
	}
	
			#title, #sector, #prenom, #nom, #email, #phone, #demande, textarea {
				width:100%;
				height: 40px;
				font-family: 'Roboto', sans-serif;
				font-size: 1rem;
			}
			#prenom, #nom, #email, #phone, #entreprise, #site, #ville {
				width:98.6%;
				height: 40px;
				font-family: 'Roboto', sans-serif;
				font-size: 1rem;
			}
			p label, select {
				font-family: 'Roboto', sans-serif;
				font-size: 1rem;
				color: hsla(0,0%,100%,.87);
			}
			#title:focus, #sector:focus, textarea:focus, #prenom:focus, #nom:focus, #email:focus, #phone:focus, 
			#demande:focus, #entreprise:focus, #site:focus, #ville:focus {
				outline: none;
				background-color: white;
				border:3px solid #5D1941;
			}
		
			textarea {
				text-align: justify;
				text-align-last: left;
				width:98.8%;
				height: 50px;
				resize: none;
				padding-left: 10px;
				padding-top: 10px;
				margin-bottom: 40px;
			}
	.feet3 {
	width: 95%;
	height: 150px;
	

	/**/
	}
	.feet4 {
	width: 95%;
	height: 200px;
	padding-top: 20px;
	/**/
	font-family: 'MafontReg', sans-serif;
	font-size: 1.5rem;
	line-height: 25px;
	}
		.feet4 p, label {
			color: white;
			font-size: 15px;
		}
		.feet4 p a {
			text-decoration: none;
			color:#d92950;
		}
		.feet4 p a:hover {
			border-bottom: 2px solid #d92950;
		}
		.feet4 p a input {
			padding: 16px;
			background-color: #d92950;
			text-decoration: none;
			color:white;
			border-radius: 10px;
			width: 10%;
			font-family: 'Mafont2', sans-serif;
			font-weight: bold;
			font-size: 17px;
			border-style: none;
		}
		.feet4 p a input:hover {
			padding: 16px;
			background-color: inherit;
			border:2px solid #d92950;
			text-decoration: none;
			color:white;
			border-radius: 10px;
			width: 12%;
			font-family: 'Mafont2', sans-serif;
			font-size: 17px;
		}

.toe {
	background-color: rgb(45, 45, 45);
	width: 100%;
	height: 665px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	/**/
	}
	.toe1 {
	width: 48%;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	/**/
	}

		.toe1a {
		width: 95%;
		height: 400px;
		font-size: 1.4rem;
		color: white;
		line-height: 13px;
		font-family: Roboto,sans-serif;
		/**/
		}
		.toe1a p a {
			text-decoration: none;
			color: #d92950;
		}
		.toe1a p a:hover {
			text-decoration: none;
			color: #d92950;
			border-bottom: 2px solid #d92950;
		}
		
		.toe1b {
		/*border: 1px solid white;*/
		width: 25%;
		height: 80px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		/**/
		}
			.toe1b1, .toe1b2, .toe1b3 {
				height: 50px;
				width: 10px;
				border-bottom: 2px solid inherit;
				padding-right: 10px;
			/*border: 1px solid white;*/
			
			
			/*background-size: 100px 100px;
			/**/
			}
			.toe1b1:hover, .toe1b2:hover, .toe1b3:hover {
				height: 50px;
				width: 10px;
				border-bottom: 2px solid #d92950;
				padding-right: 18px;
			/*border: 1px solid white;*/
			
			
			/*background-size: 100px 100px;
			/**/
			}
				.toe1b1 a i, .toe1b2 a i, .toe1b3 a i {
					display: inline-block;
					height: 30px;
					width: 10px;
					
					color:#d92950;
					
					vertical-align: -30px;
					

				}/*
				.toe1b1 a img:hover {
					border-style: none;
					height: 20px;
					color:red;
					border-bottom: 2px solid #d92950;

				}*/
				/*.toe1b1 {
					height: 20px;
					border-bottom: 2px solid #d92950;
					padding: 3px;
					padding-left: 1px;

				}*/
			
			
		

	.toe2 {
	width: 48%;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	/**/
	}
		.toe2a {
		width: 100%;
		height: 100px;
		line-height: 18px;

		/**/
		}
			.toe2a p {
				
				font-family: Roboto,sans-serif;
				font-size: 1.5rem;
				color: white;
				line-height: 30px;

			}
		.toe2b {
		
		width: 100%;
		height: 100px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		}
			.toe2b1 {
			width:69%;
			height: 100px;
			}
				.toe2b1 p input {
					width: 98.5%;
					height: 60px;
					font-size: 15px;
				}
				.toe2b1::placeholder {
					border:2px solid pink;
				}
			.toe2b2 {
			width: 30%;
			height: 100px;
			}
				.toe2b2 p input {
					border-style: none;
					border-top-right-radius: 15px;
					border-bottom-right-radius: 15px;
					width: 86%;
					height: 66px;
					background-color: #d92950;
					color: white;
					font-size: 17px;
					font-weight: bold;
					font-family: Arial; sans-serif;
					border-style: none;

				}
				.toe2b2 p input:hover {
					border-top-right-radius: 15px;
					border-bottom-right-radius: 15px;
					width: 86%;
					height: 67px;
					font-weight: bold;
					background-color: inherit;
					color: rgba(24,0,39,.87);
					font-size: 17px;
					font-family: Arial; sans-serif;

				}
		.toe2c {
		width: 30%;
		height: 40px;
		margin-top: 100px;
		font-weight: lighter;
		}
			.toe2c a {
			text-decoration: none;
			color: white;
			font-family: 'MafontBol',sans-serif;
			font-weight: lighter;
			font-size: 1rem;
			margin-top: 100px;
			}
			.toe2c a:hover {
			border-bottom: 2px solid #d92950;
			color: white;
			transition: width 2s;
			
			}
		/**/
.cal {
	width: 100%;
	height:850px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
	margin-bottom: 80px;
	font-family: 'MafontBol', sans-serif;
	}
		 .cal1 {
		 	width: 100%;
		 	height: 300px;
		 }
		  .cal1 h1 {
		 	/*display: inline-block;*/
		 	padding-top:150px;
		 	text-align: center;
		 	font-weight: 700;
		 	font-family: 'MafontBol', sans-serif;
		 	font-size: 2.5rem;
		 }

		  .cal2 {
		 	width: 90%;
		 	height: 250px;
		 	display: flex;
		 	flex-direction: row;
		 	align-items: flex-start;
		 	justify-content: space-between;
		 	margin-left: 65px;
		 }

		 		.cal2a h2, .cal2b h2, .cal2c h2, .cal3 h2 {
		 			font-size:1.3rem;
		 		}
		 		.debut {
		 			font-family: 'MafontLeg', sans-serif;
		 			color: #424345;
		 			font-size:1rem;
		 		}
		 	  	.cal2a {
			 	width: 29%;
			 	height: 230px;
			 	padding-left: 25px;
			 	padding-top: 10px;
			 	border-radius: 10px;
			 	background-color: #f1f0f3;;
			 	}
			 	 .cal2b, .cal2c {
			 	width: 29%;
			 	height: 200px;
			 	padding-left: 25px;
			 	border-radius: 10px;
			 	background-color: #f1f0f3;
			 	padding-top: 10px;
			 	}
			 	.cal2b p a, .cal2c p a, .cal3 p a {
			 		display: inline-block;
			 		text-decoration: none;
			 		color: #d92950;
			 		margin-top: 45px;
			 		font-weight: 700;
			 		font-family:'Roboto',sans-serif;
			 	}
			 	.cal2a p a, .cal3 p a {
			 		display: inline-block;
			 		text-decoration: none;
			 		color: #d92950;
			 		margin-top: 60px;
			 		font-weight: 700;
			 		font-family:'Roboto',sans-serif;
			 	}
			 	
		 .cal3 {
			width: 26%;
		 	height: 230px;
		 	margin-left: 65px;
		 	padding-left: 25px;
		 	border-radius: 10px;
		 	background-color: #f1f0f3;
		 	padding-top: 10px;

			 }
		